@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* MOBILE FIRST */

/* Header */
nav {
    background-color: #C9E9FD;
    border: 3px dotted darkslateblue;
    border-radius: 16px;
}

nav a {
    padding: 5px;
}

.flexbox-header {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
}

.flexbox-header-title {
    flex: 1 0 100%;
    text-align: center;
}

/* Footer */
footer {
    background-color: #C9E9FD;
    border: 3px dotted midnightblue;
    border-radius: 16px;
    text-align: center;
}


/* Main content */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: lavenderblush;
}

h1 {
    color: midnightblue;
}

h3 {
    color: #191970;
}

.ul-course {
    list-style: none;
    padding: 0;
}

/* Grid */

.grid-about {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid-row1 {
    grid-row: 1;
}

.grid-row2 {
    grid-row: 2;
}

.grid-row3 {
    grid-row: 3;
}

.grid-course {
    border-bottom: solid dodgerblue 1px;
    padding: 5px;
}

/* DESKTOP SECOND */
@media screen and (min-width: 600px) {
    .grid-course {
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-bottom: solid black 1px;
    }
}
