
nav {
    text-align: center;
    background-color: aliceblue;
    border: 3px dotted darkslateblue;
    border-radius: 16px;
}

nav h1 {
    margin: 10px;
}

nav a {
    padding: 10px;
}

body {
    background-color: lavenderblush;
}

h1 {
    color: midnightblue;
}

h3 {
    color: darkslateblue
}
