@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');



.montserrat {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: lavenderblush;
}

/* Header */
nav {
    background-color: aliceblue;
    border: 3px dotted darkslateblue;
    border-radius: 16px;
}

nav a {
    padding: 5px;
}

.flexbox-header {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
}

.flexbox-header-title {
    flex: 1 0 100%;
    text-align: center;
}

/* Index - Main content */
h1 {
    color: midnightblue;
}

h3 {
    color: darkslateblue
}

.grid-1fr-2fr {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid-2fr-1fr {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid-row1 {
    grid-row: 1
}

.grid-row2 {
    grid-row: 2
}

.grid-row3 {
    grid-row: 3;
}